<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Cocktail</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Cocktail</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Election</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Election</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Inspire</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inspire</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Money</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Money</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Plant</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Plant</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Soda</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Soda</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Speech</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Speech</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Stock</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Stock</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Story</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Story</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Warming</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Warming</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Cocktail</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Cocktail</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Election</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Election</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Inspire</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inspire</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Money</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Money</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Plant</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Plant</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Soda</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Soda</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Speech</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Speech</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Stock</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Stock</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Story</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Story</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Warming</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Warming</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SpectralMedium.ttf</string>
		<string>SourceCodeRegular.ttf</string>
	</array>
</dict>
</plist>
